* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
}

.about-me {
padding: 150px 0 10px 5px;
font-size: 40px;
font-family:monospace;
text-align: center;
color: darkblue;

}

.top-menu {
    overflow: hidden; 
}

.top-menu .icon {
    display: none;
  }

.top-menu .icon .active {
    color: white;
  } 
  
.hidden-menu {
    display: none; 
}

.top-nav-menu {
       
    color: white;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;    
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 1s;    
}

/* HEADER NAVIGATION CONTENT */
header {
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("../images/header-img.jpeg");
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

#myself {
    width: 60px;
    height: 80px;
}

.about-me-container {
    background-color: #e6e6e6;
    padding: 10px;
    box-shadow: 5px -5px 5px rgba(68, 68, 68, 0.6);
    width: 98% auto;
    margin: 0 0px 0 10px;
    border: 2px solid black;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* END OF HEADER NAVIGATION CONTENT */

/* ANCHOR STYLE */
a {
    color: #ffffff;
}

a:hover {
    color: yellow;
    font-size: 20px;
    transition: font-size 0.7s;
}
/* END OF ANCHOR STYLE */

/* PARAGRAPH FONT SIZES */
p {
    font-size: 25px;
}
/* END OF PARAGRAPH FONT SIZES */

/* MAIN CONTENT SECTION */
article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 15px;
}

article p {
    margin: 0 5px 0 5px;
    font-size: 25px;
}

.my-work {
    padding: 30px 0 0 0;
    text-align: center;
    font-family: monospace;
    color: darkblue;
    font-size: 40px;
}

#img {
    display: flex;
    height: 1050px;
    width: 600px;
    margin: 35px auto 10px auto;
    padding-bottom: 0;
    border-radius: 1%;
    border: 2px solid black;
    transition: height 0.5s, width 0.5s;
    width: 100% auto;
    text-align: center;
    box-shadow: -5px -5px 5px rgba(68, 68, 68, 0.6);
}

#img:hover {
    height: 1060px;
    border: 2px solid white;
    cursor: pointer;
    transition: height 0.4s, width 0.4s;
}

.horiseon {
    width: 620px !important;
}

.work {
    background-color:  #e6f2ff
}

.work-buddy h2 {
    text-align: center;
}

.work-buddy p {
    text-align:center;
}

.work-horiseon h2 {
    text-align: center;

}

.descriptions {
    background-color:  #e6e6e6;
    border-radius: 2%;
    border: 2px solid black;
    margin: 10px;
}

/* END OF MAIN CONTENT SECTION */

/* FOOTER SECTION */
footer {
    color: white;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("../images/header-img.jpeg");
    background-size: cover;
    width: 100% auto;
    text-align: center;
    box-shadow: -5px -5px 5px rgba(68, 68, 68, 0.6);
    height: 100%;
    top: 100;
    bottom: 100;
}

footer h2 {
    font-size: 20px;
}
/* END OF FOOTER SECTION*/

/* MEDIA QUERIES FOR RESPONSIVE LAYOUT */
@media screen and (max-width: 980px) {

    body {
        margin: auto;
        position: absolute;
    }
    
     article {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        align-content: center !important;
        max-width: 100%; 
        height: auto;
        margin: 10px;
     }
    
    .about-me-container {
        flex-direction:column;
        justify-content: center;
        align-items: center;
        align-content: center; 
        width: 100% auto; 
        margin: 10px;
    }
    
    .descriptions {
        flex-direction:column;
        justify-content: center;
        align-items: center;
        align-content: center; 
        width: 100% auto; 
        margin: 10px;
    }
    
    header h1 {
        display: block !important;
        text-align: center;
        font-size: 30px !important;
    }
    
    .top-menu a.icon {
            float: right;
            display: block;
        }
    
     .top-menu a {
            display: inline-block;
            
            background-color: none;
        }
    
    .shown-menu {
            float: none;
          display: block;
          text-align: left;
          position: fixed;
          top: 25px;
          right: 10px;
        }  
        
    
    article p {
            margin: 0 5px 0 5px;
        }
    
    #img {
            display: flex;
            height: auto;
            max-width: 100%;
            margin: 35px auto 10px auto;
            padding-bottom: 0;
            border-radius: 1%;
            border: 2px solid black;
            transition: height 0.5s, width 0.5s;
            width: 100% auto;
            text-align: center;
            box-shadow: -5px -5px 5px rgba(68, 68, 68, 0.6);
        }

        #myself {
            width: 40px;
            height: auto; 
        }
    
        .horiseon {
            width: 620px !important;
            height: auto !important;
        }    
    }
    
    @media screen and (max-width: 768px) {
        body {
            margin: auto;
        }
        
         article {
            display: flex;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            align-content: center !important;
            width: 100% auto; 
            margin: 10px;
         }
        
        
        .about-me-container {
            flex-direction:column;
            justify-content: center;
            align-items: center;
            align-content: center; 
            width: 100%; 
            margin: auto;
        }
        
        
        header h1 {
            display: block !important;
            text-align: center;
            font-size: 20px !important;
        }
        
        .top-menu a.icon {
                float: right;
                display: block;
            }
        
         .top-menu a {
                display: none;
                
                background-color: none;
            }
        
        .shown-menu {
                float: none;
              display: block;
              text-align: left;
              position: fixed;
              top: 25px;
              right: 10px;
            }  
            
            main article p {
                margin: 0 5px 0 5px;
            }  
            
            #img {
                display: flex;
                height: auto;
                max-width: 100%;
                margin: 35px auto 10px auto;
                padding-bottom: 0;
                border-radius: 1%;
                border: 2px solid black;
                transition: height 0.5s, width 0.5s;
                width: 100% auto;
                text-align: center;
                box-shadow: -5px -5px 5px rgba(68, 68, 68, 0.6);
            }

            #myself {
                width: 40px;
                height: auto; 
            }
    
            .horiseon {
                width: 620px !important;
                height: auto !important;
            }
    
            .top-nav-menu a {
                font-size: 10px;
            }
    }
    
    @media screen and (max-width: 575px) {
    
        .about-me-container {
            max-width: 100% auto;
        }
    
        #img {
            display: flex;
            height: auto;
            max-width: 100%;
            margin: 35px auto 10px auto;
            padding-bottom: 0;
            border-radius: 1%;
            border: 2px solid black;
            transition: height 0.5s, width 0.5s;
            width: 100% auto;
            text-align: center;
            box-shadow: -5px -5px 5px rgba(68, 68, 68, 0.6);
        }

        #myself {
            width: 40px;
            height: auto; 
        }
    
        .top-nav-menu a {
            font-size: 10px;
        }
    
        .horiseon {
            width: 620px !important;
            height: auto !important;
        }
    
    }
    
    .menu-icon-container {
        float: left;
    }
    
    main article div {
        margin-left: 0;
        padding-left: 0;
    }
    
    
    
    @keyframes fadeIn {
        0%   {opacity: 0;}
        25%  {opacity: 0.25;}
        50%  {opacity: 0.5;}
        75%  {opacity: 0.75;}
        100% {opacity: 1;}
      }
    
    @keyframes fadeOut {
        0%   {opacity: 1;}
        25%  {opacity: 0.75;}
        50%  {opacity: 0.5;}
        75%  {opacity: 0.25;}
        100% {opacity: 0;}
      }  

/* END OF MEDIA QUERIES FOR RESPONSIVE LAYOUT */