@media screen and (max-width: 925px) {

header h1 {
    font-size: 20px !important;
}

    .top-menu a.icon {
        float: right;
        display: block;
    }


    .top-menu a {
        display: none;
        
        background-color: none;
    }

    .shown-menu {
      float: none;
      display: block;
      text-align: left;
      position: fixed;
      top: 25px;
      right: 10px;
    }   

    main article p {
        margin: 0 5px 0 5px;
    }
    
}

.menu-icon-container {
    float: left;
}

main article div {
    margin-left: 0;
    padding-left: 0;
}

main article div h2 {
    float: left;
    display:flex;
    align-items: flex-end;
    padding-left: 4px;
}

article div img {
    display: flex;
}

article aside img {
   flex: 50%;
   padding: 5px;
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.75;}
    100% {opacity: 1;}
  }

@keyframes fadeOut {
    0%   {opacity: 1;}
    25%  {opacity: 0.75;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.25;}
    100% {opacity: 0;}
  }  

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
}

.about-me {
padding: 150px 0 10px 5px;
font-size: 40px;
font-family:monospace;
text-align: center;
color: darkblue;

}

main article {
    padding: 15px;    
}

main article p {
    margin: 0 5px 0 5px;
    font-size: 25px;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.my-work {
    padding: 30px 0 0 0;
    text-align: center;
    font-family: monospace;
    color: darkblue;
    font-size: 40px;
}

#img {
    height: 1050px;
    width: 600px;
    margin: auto;
    padding-bottom: 0;
    border-radius: 1%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    transition: height 0.5s, width 0.5s;
}

#img:hover {
    height: 1060px;
    border: 2px solid white;
    cursor: pointer;
    transition: height 0.4s, width 0.4s;
}

.horiseon {
    width: 620px !important;
}

.work {
    background-color:  #698fc9
}

.work-buddy h2 {
    padding-left: 220px;;
    text-align: center;
}

.work-buddy p {
    text-align:center;
}

.work-horiseon h2 {
    padding-left: 220px;

}


.descriptions {
    background-color:  #698fc9;
    border-radius: 2%;
    border: 2px solid black;
    margin: 0 63px 0 63px;
}





.top-menu {
    overflow: hidden; 
}

.top-menu .icon {
    display: none;
  }

.top-menu .icon .active {
    color: white;
  } 
  
.hidden-menu {
    display: none; 
}

.top-nav-menu {
       
    color: white;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;    
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 1s;    
}

/* HEADER NAVIGATION SECTION */
header {
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("../images/header-img.jpeg");
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.about-me-container {
    background-color: #698fc9;
    padding: 10px;
    box-shadow: 5px -5px 5px rgba(68, 68, 68, 0.6);
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    width: 100%;
    padding-top: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* END OF HEADER NAVIGATION SECTION */

/* ANCHOR STYLE */
a {
    color: #ffffff;
}

a:hover {
    color: yellow;
    font-size: 20px;
    transition: font-size 0.7s;
}

/* PARAGRAPH FONT SIZES */
p {
    font-size: 25px;
}

/* MAIN IMAGE SECTION */
.hero {
    width: 100%;
    margin-bottom: 25px;
}
/* END OF MAIN IMAGE SECTION */

/* UTILITY SELECTORS */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* END OF UTILITY SELECTORS */

/* MAIN CONTENT SECTION */
.central {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.central h1 {
    
    position: relative;
}
/* END OF MAIN CONTENT SECTION */



/* FOOTER SECTION */
footer {
    color: white;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("../images/header-img.jpeg");
    background-size: cover;
    width: 100%;
    box-shadow: -5px -5px 5px rgba(68, 68, 68, 0.6);
    text-align: center;
}

footer h2 {
    font-size: 20px;
}


/* END OF FOOTER SECTION*/